@tailwind base;
@tailwind components;
@tailwind utilities;

.tex-hed{
    color: transparent;
    background-image: linear-gradient(0.25turn, rgba(0, 198, 255, 1) 0%, rgba(40, 43, 217, 1) 100%);
    -webkit-background-clip: text;
    will-change: transform;
    font-size: 35px;
    font-family: 'NAMU-HELIOS', Arial, sans-serif;
    line-height: 1.15;
    font-weight: 800;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.bg-flow{
    background: url('./Assisent/bg_hed.png' ) ;
    background-size: 100%;
    background-repeat: no-repeat;
    
    
}


.roboto-slab{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.sixtyfour {
  font-family: "Sixtyfour", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.btn {
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #010a33, #031a2a, #174056, #79abc6, #ffff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

